//============================================
// Heading atom variables
//============================================

// first include global vars since we reference the breakpoints
@import "~assets/styles/_global-vars.scss";

//============================================
// heading compontent configuration map
//============================================

$headings: (
  h1: (                 // h-level
    size: 20px,         // default font size
    sizes: (            // font size for breakpoints (note reference to global vars)
      $bp-xs: 28px,
      $bp-sm: 38px,
      $bp-md: 48px,
      $bp-lg: 52px,
      $bp-xl: 58px
    ),
    font: $font,        // actual font family
    weight: 700,        // font weight
    line-height: 1.2    // line-height
  ),
  h2: (
    size: 20px,
    sizes: (
      $bp-xs: 24px,
      $bp-sm: 26px,
      $bp-md: 36px,
      $bp-lg: 46px,
      $bp-xl: 52px
    ),
    font: $font,
    weight: 700,
    line-height: 1.1
  ),
  h3: (
    size: 20px,
    sizes: (
      $bp-xs: 20px,
      $bp-sm: 38px,
      $bp-md: 18px,
      $bp-lg: 48px,
      $bp-xl: 58px
    ),
    font: $font,
    weight: 700,
    line-height: 1.5
  )
  // you can (should) extend this up to h6
);
