//============================================
// Global variables
//============================================


// Colors
//============================================

$primary:     #00F;
$black:       #111;
$white:       #FFFFFF;

$gray:        #DDD;
$gray-light:  #F7F7F7;
$gray-dark:   #767676;


// Pass on for semantics
$color-text:  $black;
$color-bg:    $white;



// Layout
//============================================

// XS
$layout-gutter-xs: 16px;
$layout-width-xs:  416px;

// SM
$layout-gutter-sm: 20px;
$layout-width-sm:  728px;

// MD
$layout-gutter-md: 22px;
$layout-width-md:  966px;

// LG
$layout-gutter-lg: 30px;
$layout-width-lg:  1290px;

// LG
$layout-gutter-xl: 30px;
$layout-width-xl:  1490px;


// Breakpoints
//============================================

$bp-xs:       "(min-width: #{$layout-width-xs + ($layout-gutter-xs * 2)})";
$bp-sm:       "(min-width: #{$layout-width-sm + ($layout-gutter-sm * 2)})";
$bp-md:       "(min-width: #{$layout-width-md + ($layout-gutter-md * 2)})";
$bp-lg:       "(min-width: #{$layout-width-lg + ($layout-gutter-lg * 2)})";
$bp-xl:       "(min-width: #{$layout-width-xl + ($layout-gutter-xl * 2)})";

$bp-xs-down:  "(max-width: #{($layout-width-xs + ($layout-gutter-xs * 2)) - 1px})";
$bp-sm-down:  "(max-width: #{($layout-width-sm + ($layout-gutter-sm * 2)) - 1px})";
$bp-md-down:  "(max-width: #{($layout-width-md + ($layout-gutter-md * 2)) - 1px})";
$bp-lg-down:  "(max-width: #{($layout-width-lg + ($layout-gutter-lg * 2)) - 1px})";
$bp-xl-down:  "(max-width: #{($layout-width-xl + ($layout-gutter-xl * 2)) - 1px})";


// Dimensions
//============================================

$space:           24px;
$space-half:      $space * 0.5;
$space-quarter:   $space * 0.25;
$space-duble:     $space * 2;
$space-triple:    $space * 3;
$space-quad:      $space * 4;


// Typography
//============================================

$font:          "Helvetica Neue", Arial, sans-serif;
$font-heading:  $font;
$font-mono:     monospace, monospace;
$font-size:     15px;
$line-height:   ($space / $font-size);

// Headings (responsive)
// for in depth styling see defaults.sass
//============================================
$headings: (
  h1: (
    size: 20px,
    sizes: (
      $bp-xs: 28px,
      $bp-sm: 38px,
      $bp-md: 48px,
      $bp-lg: 52px,
      $bp-xl: 58px
    ),
    font: $font,
    weight: 700,
    line-height: 1.2
  ),
  h2: (
    size: 20px,
    sizes: (
      $bp-xs: 24px,
      $bp-sm: 26px,
      $bp-md: 36px,
      $bp-lg: 46px,
      $bp-xl: 52px
    ),
    font: $font,
    weight: 700,
    line-height: 1.1
  ),
  h3: (
    size: 20px,
    sizes: (
      $bp-xs: 20px,
      $bp-sm: 38px,
      $bp-md: 18px,
      $bp-lg: 48px,
      $bp-xl: 58px
    ),
    font: $font,
    weight: 700,
    line-height: 1.5
  )
);
